<IfModule mod_rewrite.c>
  RewriteEngine on

  # Rediriger toutes les urls qui iraient ailleurs que dans le dossier public vers le dossier public :
  RewriteCond %{THE_REQUEST} !^GET.*/public [NC]
  RewriteRule ^(.*)$ /public/$1 [R=301,NE,L]
</IfModule>