/* NavBarre */

.bg-body-tertiary{
    margin: 0 0 95px 0;
  }


/* Connexion  */

#connexion {
  margin: auto;
  max-width: 30%;
  border-radius: 4px;
  background-color: #f8f9fa;
}

.bienvenue {
  text-align: center;
  padding: 25px 0 40px 0;
}

.form-control {
  margin: auto;
  width: 85% !important;
}

.form-label {
  margin: 0 0 15px 30px;
}

.btn-primary {
  display: block;
  margin: auto;
  margin-top: 45px;
  /* padding: 2px 10px 2px 10px; */
}


